ul {
  width: 100%;
  margin: 0 auto;
  padding: 0 0;
  position: relative;
  text-align: center;
}

ul > li {
  display: inline-block;
  border: 1px solid black;
}

ul > .white {
  background-color: white;
}

ul > .black {
  background-color: black;
  position: absolute;
  margin: 0px 0 0px -10px;
  border-left: 2px solid white;
}

ul > .pressed {
  background-color: #888;
}
